<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/ata.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Ataurrahman.it uses data from mapbox.com and darsky.net</p>
        <p>Great things never come from comfort zone!</p>
        <img class="portrait" src="/img/ata.jpg">
    </div>
    
    {{>footer}}
</body>

</html>